:root {
  --color-primary: #FF3E00;
  --color-black: #111111;
  --color-blue: #648EEE;
  --color-sky-blue: #77D8D6;
  --color-yellow: #F5EB00;
  --color-green: #9ABC46;
  --color-purple: #BA85D6;
  --color-gray: #DFE3E4;
}